<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">

  <!-- css grid layout base -->
  <div class="row">
    <!-- divide layout into columns of 6, and offset everything in this div by 3 cols -->
    <div class="col-md-6 col-md-offset-3">
      <!-- Add the navbar partial -->
      <div ng-include="'nav/_nav.html'"></div>
      <!-- place where an angular template should be rendered -->
      <ui-view></ui-view>
    </div>
  </div>


</body>
</html>
